.limit {
    background: #FBFDFF;
    border-radius: 2px;
    width: 204px;
    height: 21px;
    box-shadow: 1px 2px 4px 0px #e9e2e2;
}

.bar {
    border-radius: 2px;
    width: 50%;
    height: 100%;
    background-color: green;
}